<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link   rel="icon" type="image/png" href="https://images.crunchbase.com/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/pn90l3eodzae7wdskayv">    <title>Datenanzeige</title>
</head>
<body>
    <h1>Datenanzeige</h1>
    {{ data | safe }}
</body>
</html>
